[submodule "BIDS-examples-1-enh-ds054"]
	path = BIDS-examples-1-enh-ds054
	url = https://github.com/chrisfilo/BIDS-examples-1.git
	datalad-url = http://github.com/chrisfilo/BIDS-examples-1.git
	branch = enh/ds054
[submodule "ds000030"]
	path = ds000030
	url = https://github.com/nipreps-data/ds000030.git
	datalad-id = e214419d-de61-452f-97fe-092377a9efe7
	datalad-url = https://github.com/nipreps-data/ds000030.git
[submodule "ds000003"]
	path = ds000003
	url = https://github.com/nipreps-data/ds000003.git
	datalad-id = 71d520aa-5dff-4235-a9b2-d51d3a1afc87
	datalad-url = https://github.com/nipreps-data/ds000003.git
